name: Test restore cache functionalities

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      image_os:
        required: true
        type: string
      arch:
        required: true
        type: string

jobs:
  test:
    name: ${{ inputs.image_os }} ${{ inputs.arch }} restore cache
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup python with cache
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Error if cache doesn't hit for setup-python
        if: steps.setup-python.outputs.cache-hit == 'false'
        run: |
          echo "Cache didn't hit for setup-python"
          exit 1

      - name: Setup go with cache
        uses: actions/setup-go@v5
        id: setup-go
        with:
          go-version: '1.22'
          cache-dependency-path: go/go.sum

      - name: Error if cache doesn't hit for setup-go
        if: steps.setup-go.outputs.cache-hit == 'false'
        run: |
          echo "Cache didn't hit for setup-go"
          exit 1

      - name: Setup Ruby with cache
        id: setup-ruby
        uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMFILE: ./ruby/Gemfile
        with:
          ruby-version: '3.2.6'
          bundler-cache: true

      - name: Error if cache doesn't hit for setup-ruby
        if: steps.setup-ruby.outputs.cache-hit == 'false'
        run: |
          echo "Cache didn't hit for setup-ruby"
          exit 1

      - name: Cache Rust dependencies
        id: rust-cache
        uses: Swatinem/rust-cache@v2

      - name: Error if cache doesn't hit for rust-cache
        if: steps.rust-cache.outputs.cache-hit == 'false'
        run: |
          echo "Cache didn't hit for rust-cache"
          exit 1

      - name: Restore folders and files
        id: restore-file
        uses: actions/cache/restore@v4
        with:
          path: |
            myfolder
            myfolder2
          key: cached_folders

      - name: Error if cache doesn't hit for restore-file
        if: steps.restore-file.outputs.cache-hit == 'false'
        run: |
          echo "Cache didn't hit for restore-cache"
          exit 1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        id: build-docker
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: false
          cache-from: type=gha

      - name: Error if cache doesn't hit for build-docker
        if: steps.build-docker.outputs.cache-hit == 'false'
        run: |
          echo "Cache didn't hit for build-docker"
          exit 1
